body{
    margin: 0;
    font-family: sans-serif;
    color: rgb(40, 23, 54);
    background-color: rgb(126, 109, 142);
}
h2{
    text-align: center;
    margin: 0;
    margin: bottom 10px; 
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}
form{
    background-color:transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 45px;
    margin-top: 50px;
    font-size: 16px;
}
.form_input{
    padding: 6px 20px;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 20px;
    border: none;
    border-left: 3px solid #3d123a;
}
form_bottom{
    background-color: transparent;
    padding: 10px 0;
    margin: auto;
    text-align: center;
}