body {
    font-family: Arial, sans-serif;
    background-color: #2e004f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #5a007a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e0b3ff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #e0b3ff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="number"] {
    background-color: #7d2a9b;
    color: #ffffff;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="tel"]:focus, 
input[type="number"]:focus {
    outline: none;
    background-color: #9f42b3;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e0b3ff;
    color: #5a007a;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #f4dbff;
}

button:active {
    background-color: #e0b3ff;
}
